body{
  background-color:white;
  width: 100%;
  padding: 0px !important;
  margin: 0px;
  overflow-x : hidden;
}
.column-container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  z-index: 1;
}
.row-container{
	display: flex; /* or inline-flex */
	flex-direction: row;
	padding: 32px;
}
.row-container-start {
	display:flex;
	justify-content: flex-start;
	align-items: center;
	width: 45vw;
}
.row-container-end {
	display:flex;
	justify-content: flex-end;
	align-items: center;
	width: 45vw;
}
.float-above{
	position: absolute;
	z-index: 2;
	margin-top: 0px;
}
.try-it-free{
	border-radius: 50px 50px 50px 50px;
    box-shadow: 1px 3px 9px #888888;
    width: 10vw;
    text-align: center;
    padding: 10px;
}
.mockups-image{
	margin-top: 15vh;
	width: 52vw;
	height: 80vh;
}
.sub-images{
	width: 38vw;
    height: 60vh;
}
.heading{
	font-weight: bold;
    font-size: 2.5em;
    color: hsl(192, 100%, 9%);
    font-family: sans-serif;
}
.sub-text{
	font-size: 18px;
	color: hsl(208, 11%, 55%);
    font-family: sans-serif;
}
.width-30{
	width:30vw;
}
.width-20{
	width:20vw;
}
.width-40{
	width: 40vw;
}
.border-box{
	box-shadow: 1px 0px 5px hsl(208, 11%, 55%);
	margin: 40px;
	border-radius: 20px;
}

.footer{
	background-color: hsl(192, 100%, 9%);
	height:45vh;
	padding: 100px 200px 30px 10px;
	display:flex;
	justify-content: space-evenly;
	color: white;
	font-size: 18px;
	align-items: center;
	margin-top: 30vh;
}
.justify-center{
	display: flex;
	justify-content: center;
}
.footer-sub-text{
	padding: 10px;
	display:flex;
	align-items: center;
}
.get-started{
	width: 35vw;
	border-radius: 20px;
	background-color: white;
	margin-top: -300px;
	position: absolute;
	padding: 50px;
	text-align: center;
	float: center;
	box-shadow: 1px 0px 5px hsl(208, 11%, 55%);
}
.pink-button{
	border-radius: 50px 50px 50px 50px;
	background-color: hsl(322, 100%, 66%);
	color: white;
	padding: 20px;
	width:fit-content;
	text-align: center;
    margin-top: 20px;
}

.popup-text{
	font-weight: bold;
	font-size: 30px;
	color: hsl(192, 100%, 9%);
}